@model List< ClassLibrary1.expens>


@{
    ViewBag.Title = "ViewExpenses";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/w3.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/login.js")" type="text/javascript"></script>
}




<h2>View All Expenses</h2>

<table class="w3-table w3-striped w3-border  w3-hoverable">
    <tr class="w3-green">
        <th>ID</th>
        <th>Product</th>
        <th>Amount</th>
        <th>Created On</th>
    </tr>
    @{for (int i = 0; i < Model.Count; i++)
        {
            <tr>

                <td>@Model[i].expenseID</td>
                <td>@Model[i].expenseProduct</td>
                <td>@Model[i].expenseAmount</td>
                <td>@Model[i].createdOn</td>
            </tr>

        }

    }
</table>


